.header {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  padding: 92px 50px;
  color: black;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
}

.menu {
  text-transform: lowercase;
}

.header__menu ul {
  display: flex;
  gap: 32px;
  list-style: circle;
}

.header__link {
  letter-spacing: 0.18px;
  text-underline-position: under;
}

.header__link_active {
  text-decoration: none;
}

.header__menu li:first-child {
  list-style: none;
}

.header__logo {
  width: 148px;
  height: 105px;
}

.header__address {
  justify-self: end;
  padding-right: 37px;
  font-style: normal;
  line-height: 1.35;
}

/* Первая секция */
.cover {
  position: relative;
  flex-shrink: 0;
  width: 100%;
  height: 757px;
  background: url("../images/cover.jpg") no-repeat center / cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.cover__title {
  position: relative;
  padding: 165px 20px 0px 50px;
  color: white;
  font-weight: 700;
  font-size: 100px;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.aligned-text {
  display: block;
}

.aligned-text_left {
  line-height: 115%;
  text-align: left;
}

.aligned-text_center {
  padding-top: 20px;
  padding-right: 29px;
  line-height: 100%;
  text-align: center;
}

.aligned-text_right {
  padding-top: 20px;
  line-height: 100%;
  text-align: right;
}

.cover__description {
  position: absolute;
  bottom: 51px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.cover__description-text {
  padding-left: 78px;
  color: white;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 18.5px;
}

.bet-button {
  width: 256px;
  height: 51px;
  margin-right: 50px;
  border: 1px solid white;
  color: white;
  font-weight: 500;
  font-size: 22px;
  line-height: normal;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
  transition: background-color 0.6s, transform 0.5s;
  cursor: pointer;
}

.bet-button:hover {
  background-color: rgba(0, 0, 0, 0.6);
  transform: scale(110%);
}

.bet-button:active {
  transition: background-color 0.3s, transform 0.2s;
  transform: scale(105%);
}
/* Первая секция */

/* Секция с карточками */
.lots {
  margin: 179px 0 146px 0;
}

.lots__heading {
  padding-left: 64px;
  color: black;
  font-weight: 700;
  font-size: 40px;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  width: 100%;
  padding: 27px 24px;
  list-style: none;
}

.lots__card-list-item {
  flex-grow: 1;
  width: 334px;
  min-height: 563px;
}

.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
  cursor: pointer;
}

.card {
  position: relative;
  height: 100%;
  transition: transform 0.5s;
}

.card_type_film {
  background: url("../images/card-lot-01.jpg") no-repeat center / cover;
}

.card_type_book {
  background: url("../images/card-lot-02.jpg") no-repeat center / cover;
}

.card_type_picture {
  background: url("../images/card-lot-03.jpg") no-repeat center / cover;
}

.card__title {
  position: absolute;
  inset: 51px 40px auto 40px;
  color: white;
  font-weight: 700;
  font-size: 22px;
  font-style: normal;
  font-style: normal;
  line-height: 120%; /* 26.4px */
  text-decoration-line: underline;
  text-underline-offset: 3px;
  text-transform: uppercase;
}

.card__text {
  position: absolute;
  inset: auto 40px 48px 40px;
  color: white;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: 120%; /* 24px */
}

.card__letter-spacing-extended {
  letter-spacing: 2.6px;
}

.card:hover {
  transform: scale(105%);
}

.lots__link {
  display: inline-block;
  margin: 3px 64px;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: normal;
  text-underline-position: under;
  text-transform: lowercase;
}
/* Секция с карточками */

/* Секция с информацией об аукционе */
.about {
}



.footer {
}
